In [11]:
import pandas as pd
df=pd.read_csv('Top Indian Places to Visit.csv',index_col='Unnamed: 0')
import warnings
warnings.filterwarnings("ignore")

In [12]:
df

,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,None,Historical,Yes,2.60,Evening
1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,None,Historical,Yes,0.40,Afternoon
2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,None,Religious,No,0.40,Afternoon
3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,None,Scientific,Yes,0.31,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Western,Gujarat,Gandhinagar,Akshardham,Temple,1992,3.0,4.6,0,Yes,Monday,Religious,No,0.18,All
321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,40,Yes,None,Historical,Yes,1.30,Afternoon
322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.15,All
323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,200,Yes,None,Historical,Yes,0.51,Morning
324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,200,Yes,None,Historical,Yes,0.63,All

In [13]:
df.nunique()

Zone                                  6
State                                33
City                                214
Name                                321
Type                                 78
Establishment Year                  162
time needed to visit in hrs          11
Google review rating                 14
Entrance Fee in INR                  33
Airport with 50km Radius              2
Weekly Off                            6
Significance                         25
DSLR Allowed                          2
Number of google review in lakhs    108
Best Time to visit                    7
dtype: int64

In [14]:
col=['Type','Google review rating','Number of google review in lakhs','Entrance Fee in INR']
dff=df[col]
dff

,Type,Google review rating,Number of google review in lakhs,Entrance Fee in INR
0,War Memorial,4.6,2.60,0
1,Tomb,4.5,0.40,30
2,Temple,4.6,0.40,60
3,Theme Park,4.1,0.27,50
4,Observatory,4.2,0.31,15
...,...,...,...,...
320,Temple,4.6,0.18,0
321,Fort,4.5,1.30,40
322,Museum,4.7,0.15,10
323,Palace,4.4,0.51,200
324,Museum,4.5,0.63,200

In [15]:
dff = dff[dff['Entrance Fee in INR'] != 0]
dff

,Type,Google review rating,Number of google review in lakhs,Entrance Fee in INR
1,Tomb,4.5,0.40,30
2,Temple,4.6,0.40,60
3,Theme Park,4.1,0.27,50
4,Observatory,4.2,0.31,15
7,Fort,4.5,1.50,35
...,...,...,...,...
318,Museum,4.4,0.24,50
321,Fort,4.5,1.30,40
322,Museum,4.7,0.15,10
323,Palace,4.4,0.51,200
324,Museum,4.5,0.63,200

In [16]:
dff = pd.get_dummies(dff,dtype=int)
dff

,Google review rating,Number of google review in lakhs,Entrance Fee in INR,Type_Adventure Sport,Type_Amusement Park,Type_Aquarium,Type_Beach,Type_Bird Sanctuary,Type_Botanical Garden,Type_Cave,...,Type_Temple,Type_Temples,Type_Theme Park,Type_Tomb,Type_Tombs,Type_Valley,Type_Vineyard,Type_Waterfall,Type_Wildlife Sanctuary,Type_Zoo
1,4.5,0.40,30,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,4.6,0.40,60,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4.1,0.27,50,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,4.2,0.31,15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,4.5,1.50,35,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,4.4,0.24,50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
321,4.5,1.30,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
322,4.7,0.15,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
323,4.4,0.51,200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
324,4.5,0.63,200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
x=dff.drop(columns=['Entrance Fee in INR'])
y=dff['Entrance Fee in INR']

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [27]:
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [28]:
reg.score(x_train,y_train)

0.8585971999540013

In [29]:
reg.score(x_test,y_test)

-2.511694645836549e+25

# Lasso reg

In [58]:
from sklearn.linear_model import Lasso
reg2= Lasso(alpha=0,max_iter=100,tol=0.01)
reg2.fit(x_train,y_train)

Lasso(alpha=0, max_iter=100, tol=0.01)

In [59]:
reg2.score(x_train,y_train)

0.8586681314937121

In [41]:
reg2.score(x_test,y_test)

-4.915310706106955

# Ridge regression

In [42]:
from sklearn.linear_model import Ridge
reg3= Ridge(alpha=15,max_iter=100,tol=0.1)
reg3.fit(x_train,y_train)

Ridge(alpha=15, max_iter=100, tol=0.1)

In [43]:
reg3.score(x_train,y_train)

0.13171170134456522

In [44]:
reg3.score(x_test,y_test)

-0.12343727830049112